*{
    margin:0;
    padding:0;
}
ul,li{
    list-style: none;
}
body{
    background: #000;
}
#container li{
    float:left;
    margin:0 2px 2px 0;
}
#container li:nth-child(4n){
    margin-right: 0;
}
#container li img{
    width: 100%;
    height: 100%;
}
#img-show{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}